USE [master]
GO
/****** Object:  Database [swp391]    Script Date: 3/13/2025 1:41:25 PM ******/
CREATE DATABASE [swp391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'swp391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\swp391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'swp391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\swp391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [swp391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [swp391]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/13/2025 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[YearOfBirth] [int] NULL,
	[Gender] [nvarchar](10) NULL,
	[Avatar] [int] NULL,
	[LoyaltyPoint] [int] NULL,
	[MembershipLevel] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 3/13/2025 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRoom]    Script Date: 3/13/2025 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRoom](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[RoomName] [nvarchar](255) NOT NULL,
	[RoomType] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 3/13/2025 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[ComboID] [int] IDENTITY(1,1) NOT NULL,
	[ComboItem] [nvarchar](255) NOT NULL,
	[Description] [text] NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 3/13/2025 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [varchar](max) NOT NULL,
	[ImageType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 3/13/2025 1:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](255) NOT NULL,
	[Duration] [int] NOT NULL,
	[Genre] [nvarchar](100) NOT NULL,
	[Director] [nvarchar](255) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Description] [text] NULL,
	[Rate] [nvarchar](25) NOT NULL,
	[MoviePoster] [int] NULL,
	[TrailerURL] [nvarchar](max) NULL,
	[BasePrice] [float] NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
	[Country] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricingFactor]    Script Date: 3/13/2025 1:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricingFactor](
	[FactorID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Multiplier] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FactorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 3/13/2025 1:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromoCode] [nvarchar](50) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndTime] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[Description] [text] NULL,
	[RemainRedemption] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 3/13/2025 1:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[SeatRow] [nvarchar](10) NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[SeatType] [nvarchar](50) NOT NULL,
	[RoomID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtime]    Script Date: 3/13/2025 1:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtime](
	[ShowtimeID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[CinemaID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	CONSTRAINT [PK_Showtime] PRIMARY KEY CLUSTERED ([ShowtimeID] ASC),
	CONSTRAINT [FK_Showtime_Cinema] FOREIGN KEY ([CinemaID]) REFERENCES [Cinema]([CinemaID]) ON DELETE CASCADE,
	CONSTRAINT [FK_Showtime_CinemaRoom] FOREIGN KEY ([RoomID]) REFERENCES [CinemaRoom]([RoomID]) ON DELETE CASCADE
)

	
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 3/13/2025 1:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[SeatID] [int] NOT NULL,
	[ShowTimeID] [int] NOT NULL,
	[Status] [bit] NOT NULL DEFAULT 0,
	[ComboID] [int] NULL,

PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 3/13/2025 1:41:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [float] NULL,
	[TicketID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[PromotionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Name], [Email], [Password], [PhoneNumber], [Address], [YearOfBirth], [Gender], [Avatar], [LoyaltyPoint], [MembershipLevel], [Status], [Role]) VALUES (1, N'John Doe', N'john.doe@example.com', N'password123', N'0123456789', N'123 Street A', 1995, N'Male', 2, 0, N'None', 1, N'Customer')
INSERT [dbo].[Account] ([AccountID], [Name], [Email], [Password], [PhoneNumber], [Address], [YearOfBirth], [Gender], [Avatar], [LoyaltyPoint], [MembershipLevel], [Status], [Role]) VALUES (2, N'Jane Smith', N'jane.smith@example.com', N'pass456', N'0987654321', N'456 Street B', 1998, N'Female', 3, 5, N'Silver', 1, N'Customer')
INSERT [dbo].[Account] ([AccountID], [Name], [Email], [Password], [PhoneNumber], [Address], [YearOfBirth], [Gender], [Avatar], [LoyaltyPoint], [MembershipLevel], [Status], [Role]) VALUES (3, N'Admin User', N'admin@example.com', N'adminpass', N'0112233445', N'Admin Office', 1990, N'Other', 19, 8, N'Silver', 1, N'Admin')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address]) VALUES (1, N'Grand Cinema', N'456 Elm St')
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address]) VALUES (2, N'Mega Cineplex', N'789 Pine St')
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address]) VALUES (3, N'Starlight Cinema', N'101 Maple Ave')
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaRoom] ON 

INSERT [dbo].[CinemaRoom] ([RoomID], [CinemaID], [RoomName], [RoomType], [Status]) VALUES (1, 1, N'Room 1', N'Standard', 1)
INSERT [dbo].[CinemaRoom] ([RoomID], [CinemaID], [RoomName], [RoomType], [Status]) VALUES (2, 2, N'VIP Lounge', N'VIP', 1)
INSERT [dbo].[CinemaRoom] ([RoomID], [CinemaID], [RoomName], [RoomType], [Status]) VALUES (3, 3, N'IMAX Hall', N'IMAX', 1)
SET IDENTITY_INSERT [dbo].[CinemaRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[Combo] ON 

INSERT [dbo].[Combo] ([ComboID], [ComboItem], [Description], [Price], [Quantity], [Status]) VALUES (1, N'Popcorn + Soda', N'Inclued 1 Popcorn and Soda', 10.5, 2, 1)
INSERT [dbo].[Combo] ([ComboID], [ComboItem], [Description], [Price], [Quantity], [Status]) VALUES (2, N'Nachos + Drink', N'', 12, 3, 1)
INSERT [dbo].[Combo] ([ComboID], [ComboItem], [Description], [Price], [Quantity], [Status]) VALUES (3, N'Large Combo', N'', 15.75, 123, 1)
SET IDENTITY_INSERT [dbo].[Combo] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageID], [ImagePath], [ImageType]) VALUES (1, N'image1.jpg', N'Poster')
INSERT [dbo].[Image] ([ImageID], [ImagePath], [ImageType]) VALUES (2, N'image2.jpg', N'Avatar')
INSERT [dbo].[Image] ([ImageID], [ImagePath], [ImageType]) VALUES (3, N'image3.jpg', N'Avatar')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [MovieName], [Duration], [Genre], [Director], [ReleaseDate], [Description], [Rate], [MoviePoster], [TrailerURL], [BasePrice], [Status], [Country]) VALUES (1, N'The Space Odyssey', 120, N'Sci-Fi', N'Jane Doe', CAST(N'2024-01-15T00:00:00.000' AS DateTime), N'A journey through the cosmos.', N'PG-13', 1, N'https://example.com/trailer1.mp4', 50000, N'NowShowing', N'USA')
INSERT [dbo].[Movie] ([MovieID], [MovieName], [Duration], [Genre], [Director], [ReleaseDate], [Description], [Rate], [MoviePoster], [TrailerURL], [BasePrice], [Status], [Country]) VALUES (2, N'Love in the City', 90, N'Romance', N'John Smith', CAST(N'2024-06-20T00:00:00.000' AS DateTime), N'A romantic tale in urban life.', N'PG', 2, N'https://example.com/trailer2.mp4', 45000, N'NowShowing', N'USA')
INSERT [dbo].[Movie] ([MovieID], [MovieName], [Duration], [Genre], [Director], [ReleaseDate], [Description], [Rate], [MoviePoster], [TrailerURL], [BasePrice], [Status], [Country]) VALUES (3, N'Action Heroes', 150, N'Action', N'Mike Johnson', CAST(N'2025-02-01T00:00:00.000' AS DateTime), N'High-octane action thriller.', N'R', 3, N'https://example.com/trailer3.mp4', 60000, N'UpcomingMovie', N'USA')
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[PricingFactor] ON 

INSERT [dbo].[PricingFactor] ([FactorID], [Type], [Category], [Multiplier]) VALUES (1, N'Room', N'Standard', 1)
INSERT [dbo].[PricingFactor] ([FactorID], [Type], [Category], [Multiplier]) VALUES (2, N'Room', N'VIP', 1.5)
INSERT [dbo].[PricingFactor] ([FactorID], [Type], [Category], [Multiplier]) VALUES (3, N'Room', N'IMAX', 2)
SET IDENTITY_INSERT [dbo].[PricingFactor] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([PromotionID], [PromoCode], [DiscountPercent], [StartDate], [EndTime], [Status], [Description], [RemainRedemption]) VALUES (1, N'WELCOME10', 10, CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), 1, N'10% off for new customers.', 100)
INSERT [dbo].[Promotion] ([PromotionID], [PromoCode], [DiscountPercent], [StartDate], [EndTime], [Status], [Description], [RemainRedemption]) VALUES (2, N'SUMMER25', 25, CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date), 1, N'Summer sale discount.', 200)
INSERT [dbo].[Promotion] ([PromotionID], [PromoCode], [DiscountPercent], [StartDate], [EndTime], [Status], [Description], [RemainRedemption]) VALUES (3, N'VIP50', 50, CAST(N'2025-02-01' AS Date), CAST(N'2025-03-31' AS Date), 0, N'Exclusive VIP offer.', 50)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([SeatID], [SeatRow], [SeatNumber], [SeatType], [RoomID], [Status]) VALUES (1, N'A', 1, N'Standard', 1, N'Available')
INSERT [dbo].[Seat] ([SeatID], [SeatRow], [SeatNumber], [SeatType], [RoomID], [Status]) VALUES (2, N'A', 2, N'Standard', 1, N'Reserved')
INSERT [dbo].[Seat] ([SeatID], [SeatRow], [SeatNumber], [SeatType], [RoomID], [Status]) VALUES (3, N'B', 1, N'VIP', 2, N'Available')
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtime] ON 

INSERT [dbo].[Showtime] ([ShowtimeID], [MovieID],CinemaID,RoomID, [StartTime], [EndTime]) VALUES (1, 1,1,1, CAST(N'2025-03-01T14:00:00.000' AS DateTime), CAST(N'2025-03-01T16:30:00.000' AS DateTime))
INSERT [dbo].[Showtime] ([ShowtimeID], [MovieID],CinemaID,RoomID, [StartTime], [EndTime]) VALUES (2, 2,2,2, CAST(N'2025-03-02T17:00:00.000' AS DateTime), CAST(N'2025-03-02T19:30:00.000' AS DateTime))
INSERT [dbo].[Showtime] ([ShowtimeID], [MovieID],CinemaID,RoomID, [StartTime], [EndTime]) VALUES (3, 3,1,1, CAST(N'2025-03-03T20:00:00.000' AS DateTime), CAST(N'2025-03-03T22:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Showtime] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketID], [SeatID], [ShowTimeID], [Status],  [ComboID]) VALUES (1, 1, 1, 0, 1)
INSERT [dbo].[Ticket] ([TicketID], [SeatID], [ShowTimeID], [Status],  [ComboID]) VALUES (2, 2, 2, 0,  NULL)
INSERT [dbo].[Ticket] ([TicketID], [SeatID], [ShowTimeID], [Status],  [ComboID]) VALUES (3, 3, 3, 0,  2)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionID], [Quantity], [Amount], [TicketID], [AccountID], [PromotionID]) VALUES (1, 1, 50000, 1, 2, NULL)
INSERT [dbo].[Transaction] ([TransactionID], [Quantity], [Amount], [TicketID], [AccountID], [PromotionID]) VALUES (2, 2, 194400, 3, 2, 1)
INSERT [dbo].[Transaction] ([TransactionID], [Quantity], [Amount], [TicketID], [AccountID], [PromotionID]) VALUES (3, 1, 82500, 4, 3, 2)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__85FB4E38EF924611]    Script Date: 3/13/2025 1:41:26 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D10534B19AC3F7]    Script Date: 3/13/2025 1:41:26 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__32DBED35CEF43B17]    Script Date: 3/13/2025 1:41:26 PM ******/
ALTER TABLE [dbo].[Promotion] ADD UNIQUE NONCLUSTERED 
(
	[PromoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [LoyaltyPoint]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('None') FOR [MembershipLevel]
GO
ALTER TABLE [dbo].[Combo] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Combo] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [RemainRedemption]
GO

ALTER TABLE [dbo].[Transaction] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([Avatar])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[CinemaRoom]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD FOREIGN KEY([MoviePoster])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[CinemaRoom] ([RoomID])
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([ComboID])
REFERENCES [dbo].[Combo] ([ComboID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([SeatID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([ShowTimeID])
REFERENCES [dbo].[Showtime] ([ShowtimeID])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotion] ([PromotionID])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([MembershipLevel]='Platitnum' OR [MembershipLevel]='Gold' OR [MembershipLevel]='Silver' OR [MembershipLevel]='None'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Role]='Customer' OR [Role]='Manager' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([YearOfBirth]>=(1900) AND [YearOfBirth]<=(datepart(year,getdate())-(10))))
GO
ALTER TABLE [dbo].[CinemaRoom]  WITH CHECK ADD CHECK  (([RoomType]='IMAX' OR [RoomType]='VIP' OR [RoomType]='Standard'))
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([BasePrice]>(0)))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([Duration]>(0)))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([Rate]='R' OR [Rate]='PG' OR [Rate]='PG-13'))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD CHECK  (([Status]='ShownMovie' OR [Status]='UpcomingMovie' OR [Status]='NowShowing'))
GO
ALTER TABLE [dbo].[PricingFactor]  WITH CHECK ADD CHECK  (([Multiplier]>(0)))
GO
ALTER TABLE [dbo].[PricingFactor]  WITH CHECK ADD CHECK  (([Type]='Seat' OR [Type]='Room'))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([SeatNumber]>(0)))
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([SeatType]='VIP' OR [SeatType]='Standard'))
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([Status]='Reserved' OR [Status]='Sold' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
USE [master]
GO
